# Ignore Gradle project-specific cache directory
.gradle
.idea

# Ignore Gradle build output directory
build

# Ignore Kotlin plugin data
.kotlin
hytale-ui-docs
mcp_server.py
index_project.py
.vectordb
.venv